*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
   
}
body{
    background-color:  #E0DFDB;
    font-family: 'Noto Sans', sans-serif;
    
}
a{
    text-decoration: none;
    color: black;
}
ul li{
 
    list-style: none;
    padding: 3px;
}

/* Decorating the Navbar */

.navContainer{
padding: 2em 2em;
overflow: hidden;   
display: grid;
grid-template-columns: 3fr 5fr 7fr ;
align-items: center;
}
#navBar{
    position: sticky;
    top:0;
    z-index: 2;
}

#navBar .Head{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
 }

 #navBar .designName{
    color:#ED5D40;
    text-decoration: underline;   
    font-weight: bold;
    text-underline-position: under;
 }

.navContainer ul{
    align-items: center;
 display: flex;
 justify-self: end;
 
}
.navContainer ul li a{

    padding: 10px 15px;
    align-items: center;
}

.navContainer .Schedual{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    text-underline-position: under;
}

.dropMeeting{
    font-size: 18px;
}


.navContainer ul li i{
    font-size: 30px;
    font-weight: none;
    color:#ED5D40;
    transform: rotate(-30deg);
   
}
.navContainer ul li a:hover{
  background-color: #ED5D40;
  color: white;
   
}

  
/* Navbar decoration done */
      
   
   
   





 

.
    
    









 

